@model Loginweb.Models.ClassData

@using Loginweb.Models

@{
    ViewBag.Title = "product";
    Layout = "~/Views/Shares/_Layout.cshtml";
    if (Session["type"] == null)
    {
        Response.Redirect("/Login/Index");
    }
}
@{
    var i = 0;
}
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/assets/css/product.css" rel="stylesheet" />
<link href="~/assets/css/oder.css" rel="stylesheet" />

<div class="oderitem">
    <div class="tableoder">
        <header>
            <h2> Chọn đồ Bàn @Session["id"] : </h2><h3>@DateTime.Now.ToShortDateString() @DateTime.Now.ToLongTimeString()</h3>
        </header>
        <div id="cart">
            @{Html.RenderAction("cart"); }
        </div>


        <div class="buttonlist">
            <button class="confirm" type="submit">Xác Nhận</button>
            <button class="bill">In hoá đơn và Thanh Toán</button>
        </div>
    </div>
    <div class="category">
        Danh Sách SP.
    </div>
</div>
<div class="productitem">
    <div class="listproduct">
        @foreach (var item in Model.allfoods)
        {
            <div class="product_Item">
                <div class="productImage">
                    @*@Ajax.ActionLink("click", "cartt", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "cart", InsertionMode = InsertionMode.Replace })*@ 
                    @*@Ajax.ActionLink("click1", "cart", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "cart" , InsertionMode = InsertionMode.Replace })*@
                    @*<a href="@Url.Action("cartt", "order", new { id = @item.id})">
                            <img src="@Model.listpathimg[i]" alt="@item.name" />
                        </a>*@

                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cart"
                       href="/order/cartt/@item.id"><img src="@Model.listpathimg[i]" alt="@item.name" /></a>
                    @*<a href="/order/cart/@item.id"><img src="@Model.listpathimg[i]" alt="Bạc sỉu" /></a>*@
                </div>
                <div class="product_info">
                    <h3 id="product_name"><a href="#">@item.name</a></h3>
                    <p id="product_price">@item.price đ</p>
                    <div><a href="#" id="detail_btn">Thông Tin</a></div>
                </div>
            </div>
            i++;
        }
    </div>
</div>

